@font-face {
  font-family: 'AmiriQuran-Regular';
  //src: url('/fonts/AmiriQuran-Regular.ttf') format('truetype');
  src: url('../../public/fonts/AmiriQuran-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AmiriQuran-Colored';
  //src: url('/fonts/AmiriQuranColored.ttf') format('truetype');
  src: url('../../public/fonts/AmiriQuranColored.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
