<div class="Container">
  <div class="Row G-2">

    <div class="Col-12 Col-lg-3">

      @if (SurahList && SurahList.length > 0) {
        <div class="Card Card-body">
          <h5 class="Card-title">Surah List</h5>
          <div class="MB-3">
            <input class="Form-control" type="text" autocomplete="off" placeholder="Filter" #filter
                   (keyup)="OnFilter(filter.value)">
          </div>
          <div class="List List-flush Overflow-auto" style="max-height: 250px">
            @for (surah of SurahList; track surah) {
              <a class="List-item List-item-action"
                 [routerLink]="['/Home', 'Surah', surah.Seq]"
                 [routerLinkActive]="'Active'" [routerLinkActiveOptions]="{exact:false}">
                {{ surah.Seq }} - {{ surah.Name }}
              </a>
            }
          </div>
        </div>
      }

      <div class="Card Card-body">
        <h5 class="Card-title">Notes</h5>

        <table class="Table Align-middle">
          <thead>
          <tr>
            <th>Char</th>
            <th>Name</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <p class="FW-normal MB-1">?</p>
            </td>
            <td>
              <p class="Fg-muted MB-0">[Kashida / Tatweel]</p>
            </td>
          </tr>
          <tr>
            <td>
              <p class="FW-normal MB-1">ʔaː</p>
            </td>
            <td>
              <p class="Fg-muted MB-0">Medli Elif</p>
            </td>
          </tr>
          <tr>
            <td>
              <p class="FW-normal MB-1">ā</p>
            </td>
            <td>
              <p class="Fg-muted MB-0">Alif Khanjariyah</p>
            </td>
          </tr>
          <tr>
            <td>
              <p class="FW-normal MB-1">ā</p>
            </td>
            <td>
              <p class="Fg-muted MB-0">Alif Maqsūra</p>
            </td>
          </tr>
          <tr>
            <td>
              <p class="FW-normal MB-1">-</p>
            </td>
            <td>
              <p class="Fg-muted MB-0">Alif Wasla</p>
            </td>
          </tr>
          <tr>
            <td>
              <p class="FW-normal MB-1">ā/ī/ū</p>
            </td>
            <td>
              <p class="Fg-muted MB-0">Med (Uzatma)</p>
            </td>
          </tr>
          </tbody>
        </table>
        <div>
          Secavend
          <br>
          <span class="Rounded-circle Bg-red">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> stop
          <span class="Rounded-circle Bg-green">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> pass
          <span class="Rounded-pill Bg-yellow PB-1">&nbsp;.:_:.&nbsp;</span> stop+pass
        </div>

      </div>

    </div>

    <div class="Col-12 Col-lg-9">

      <div class="Card Card-body">
        <h5 class="Card-title">Surah</h5>
        <div class="MB-3">
          <input class="Form-control" type="text" autocomplete="off" placeholder="Filter in Surah" #filterSurah
                 (keyup)="OnFilterSurah(filterSurah.value)">
        </div>

        <div [(ngpTabsetValue)]="selectedTab" ngpTabset>
          <div class="Row">
            <div class="Col-12 Col-md-4">
              <!-- Pills navs -->
              <ul class="Nav Nav-pills MB-3" id="tabBasic" role="tablist" ngpTabList>
                <li class="Nav-item" role="presentation">
                  <a class="Nav-link" id="tabBasic-tab-beta" href="#tabBasic-pills-beta" role="tab"
                     aria-controls="tabBasic-pills-beta"
                     [class.Active]="selectedTab === 'beta'" ngpTabButton ngpTabButtonValue="beta"
                     (click)="$event.preventDefault()" aria-selected="true">Beta</a>
                </li>
                <li class="Nav-item" role="presentation">
                  <a class="Nav-link" id="tabBasic-tab-base" href="#tabBasic-pills-base" role="tab"
                     aria-controls="tabBasic-pills-base"
                     [class.Active]="selectedTab === 'base'" ngpTabButton ngpTabButtonValue="base"
                     (click)="$event.preventDefault()" aria-selected="false">Base</a>
                </li>
              </ul>
              <!-- Pills navs -->
            </div>
            <div class="Col-12 Col-md-8">
              <div class="D-inline-block PY-3">
                @if (Surah && selectedTab === 'beta') {
                  <div class="Form-check Form-check-inline Form-switch">
                    <input class="Form-check-input" type="checkbox" value=""
                           (change)="OnChange('Detailed')" [checked]="Detailed" id="cbDetails"/>
                    <label class="Form-check-label" for="cbDetails">Detailed</label>
                  </div>
                  <div class="Form-check Form-check-inline Form-switch">
                    <input class="Form-check-input" type="checkbox" value=""
                           (change)="OnChange('Original')" [checked]="Original" id="cbOriginal"/>
                    <label class="Form-check-label" for="cbOriginal">Original</label>
                  </div>
                  <div class="Form-check Form-check-inline Form-switch">
                    <input class="Form-check-input" type="checkbox" value=""
                           (change)="OnChange('Latin')" [checked]="Latin" id="cbEnglish"/>
                    <label class="Form-check-label" for="cbEnglish">Latin Test</label>
                  </div>
                  <div class="Form-check Form-check-inline Form-switch">
                    <input class="Form-check-input" type="checkbox" value=""
                           (change)="OnChange('LatinIPA')" [checked]="LatinIPA" id="cbIPA"/>
                    <label class="Form-check-label" for="cbIPA">IPA Test</label>
                  </div>
                }
              </div>
            </div>
          </div>
          <!-- Pills content -->
          <div class="Tab-content" id="tabBasic-content">
            <div class="Tab-pane Fade" id="tabBasic-pills-beta" role="tabpanel" aria-labelledby="tabBasic-tab-beta"
                 [class.Active]="selectedTab === 'beta'" [class.Show]="selectedTab === 'beta'"
                 ngpTabPanel ngpTabPanelValue="beta">


              @if (Surah) {
                <div class="Alert Alert-outline " role="alert">
                  <span class="FW-bold">Name: </span>
                  <span class="Amiri_Quran ME-2">{{ Surah.Name }} ﴾ {{ Surah.Seq }} ﴿</span>

                  <span class="FW-bold">Verses: </span>
                  <span class="Amiri_Quran ME-2">﴾ {{ Surah.Verses.length }} ﴿</span>
                </div>


                <pagination-controls (pageChange)="CurrentPage = $event"></pagination-controls>

                @for (verse of BetaItems | paginate: {
                  itemsPerPage: 10, currentPage: CurrentPage, totalItems: BetaItems.length
                }; track $index) {
                  <div class="MY-2 P-2 Shadow-1">
                    <div class="Position-relative ">

                      <!-- Verse Sequence-->
                      <div
                        class="Position-absolute Top-0 Start-0 Translate-middle Badge Rounded-pill Bg-primary Fg-white">
                        {{ verse.Seq }}
                        <span class="Visually-hidden">Sequence</span>
                      </div>

                      <!-- Verse in Arabic-->
                      @if (Original) {
                        <div class="Text-end Border-bottom Border-2" dir='rtl'>
                          @for (word of verse.Words; track $index) {
                            <div class="D-inline-block Cursor-pointer MB-3 MX-1 PX-2 PB-2 Shadow-hover"
                                 [class.Bg-info]="filterSurah.value && word.Arabic.indexOf(filterSurah.value)>-1"
                                 (click)="OnWordClick(word)">
                              <span class="FS-1 Amiri_Quran">{{ word.Arabic }}</span>&nbsp;
                            </div>
                          }
                        </div>
                      }

                      <!-- Verse in TR-->
                      @if (verse.Words) {
                        @for (word of verse.Words; track $index) {
                          <div class="D-inline-block Cursor-pointer MY-2 MX-1 PY-2 PX-1 Shadow-1"
                               [class.Bg-info]="filterSurah.value && word.Latin.indexOf(filterSurah.value)>-1"
                               (click)="OnWordClick(word)">
                            @if (word.Letters[0]?.Type !== 4) {
                              <span>{{ word.Latin }}&nbsp;</span>
                            }
                            @if (word.Letters[0]?.Type === 4) {
                              <div class="D-inline-block">
                                @if (word.Latin === '|STOP|') {
                                  <span class="Rounded-circle Bg-red">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                }
                                @if (word.Latin === '|stop|') {
                                  <span class="Rounded-circle Bg-red Bg-alpha-80">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                }
                                @if (word.Latin === '|pass|') {
                                  <span
                                    class="Rounded-circle Bg-green Bg-alpha-80">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                }
                                @if (word.Latin === '|PASS|') {
                                  <span class="Rounded-circle Bg-green">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                }
                                @if (word.Latin === '|.:_:.|') {
                                  <span class="Rounded-pill Bg-yellow PB-1">&nbsp;.:_:.&nbsp;</span>
                                }
                              </div>
                            }
                          </div>
                        }
                      }

                      <!-- Verse in Latin-->
                      @if (Latin && verse.Words) {
                        <div class="Border-top Border-2">
                          <span>Latin</span>
                          @for (word of Variations(verse.Words, 'Latin'); track $index) {
                            <div class="D-inline-block MY-2 MX-1 PY-2 PX-1 Shadow-1">
                              <span>{{ word }}</span>
                            </div>
                          }
                        </div>
                      }

                      <!-- Verse in IPA-->
                      @if (LatinIPA && verse.Words) {
                        <div class="Border-top Border-2">
                          <span>IPA</span>
                          @for (word of Variations(verse.Words, 'IPA'); track $index) {
                            <div class="D-inline-block MY-2 MX-1 PY-2 PX-1 Shadow-1">
                              <span>{{ word }}</span>
                            </div>
                          }
                        </div>
                      }

                    </div>
                    <div class="Border-top P-2 MB-n1" [class.D-none]="!Detailed">

                      <table class="Table Table-hover Table-responsive">
                        <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Arabic</th>
                          <th scope="col">Latin</th>
                          <th scope="col">Abjad</th>
                          <th scope="col">Hurufat</th>
                        </tr>
                        </thead>
                        <tbody>
                          @for (word of verse.Words; let i = $index; track $index) {
                            <tr>
                              <th scope="row">{{ i + 1 }}</th>
                              <td class="Text-end" dir='rtl'>
                                <span class="FS-3 Amiri_Quran">{{ word.Arabic }}</span>
                              </td>
                              <td>
                                <div>{{ word.Latin }}</div>
                              </td>
                              <td>
                                {{ AbjadWord(word) }}
                              </td>
                              <td class="Text-end" dir='rtl'>
                                @for (letter of GetRootOfWord(word.Letters); track $index) {
                                  <button type="button" class="Btn Position-relative">
                                    <span class="FS-5 Amiri_Quran">{{ letter.Ar }}</span>
                                    <div
                                      class="Position-absolute Top-0 Start-100 Translate-middle Badge Rounded-pill Bg-success Fg-white">
                                      {{ AbjadLetter(letter.Ar) }}
                                      <span class="Visually-hidden">unread messages</span>
                                    </div>
                                  </button>
                                }
                              </td>
                            </tr>
                          }
                        </tbody>
                      </table>
                    </div>

                  </div>
                }

              }


            </div>
            <div class="Tab-pane Fade" id="tabBasic-pills-base" role="tabpanel" aria-labelledby="tabBasic-tab-base"
                 [class.Active]="selectedTab === 'base'" [class.Show]="selectedTab === 'base'"
                 ngpTabPanel ngpTabPanelValue="base">


              @if (BaseSurah) {
                <div class="Alert Alert-outline " role="alert">
                  <span class="FW-bold">Name: </span>
                  <span class="Amiri_Quran ME-2">{{ BaseSurah.Name }} ﴾ {{ BaseSurah.Seq }} ﴿</span>

                  <span class="FW-bold">Verses: </span>
                  <span class="Amiri_Quran ME-2">﴾ {{ BaseSurah.Verses.length }} ﴿</span>
                </div>


                  <pagination-controls (pageChange)="CurrentPage = $event"></pagination-controls>

                  @for (verse of BaseItems | paginate: {
                    itemsPerPage: 10, currentPage: CurrentPage, totalItems: BaseItems.length
                  }; track $index) {
                    <div class="MY-2 P-2 Shadow-1">
                      <div class="Position-relative ">
                        <!-- Verse Sequence-->
                        <div class="Position-absolute Top-0 Start-0 Translate-middle Badge Rounded-pill Bg-primary Fg-white">
                          {{ verse.Seq }}
                          <span class="Visually-hidden">Sequence</span>
                        </div>
                        <!-- Verse in Arabic-->
                        <div class="Text-end" dir='rtl'>
                          @for (word of verse.Words; track $index) {
                            <div class="D-inline-block MB-3 MX-1 P-1">
                              <span class="FS-1 Amiri_Quran">{{ word }}</span>
                            </div>
                          }
                        </div>
                      </div>
                    </div>
                  }

              }


            </div>
          </div>
          <!-- Pills content -->
        </div>

      </div>

    </div>

  </div>
</div>
